---
title: Alerts
heading: Alerts
lead: 'Description goes here'
layout: default.hbs 
---


<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h1>{{ heading }}</h1>
            <h2>{{ lead }}</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                asdasd
            </div>
            <div class="alert alert-info" role="alert">...</div>
            <div class="alert alert-warning" role="alert">...</div>
            <div class="alert alert-danger" role="alert">...</div>
        </div>
    </div>

</div>
