---
title: Pages
heading: 'Dit is een test'
lead: Welcome to my blog!
---
<div class="jumbotron">
  <h1>{{ heading }}</h1>
  <p>{{ lead }}</p>  
</div>


<div class="row">
    <div class="col-md-6">
        <div class="dm-block">
            {{> video }}            
        </div>
    </div>
    <div class="col-md-6">
        <div class="dm-block">
            <a href="" class="button">ik ben een button</a>
        </div>
    </div>    
</div>
<div class="row">
    <div class="col-md-3">3-12</div>
    <div class="col-md-3">3-12</div>
    <div class="col-md-3">3-12</div>
    <div class="col-md-3">3-12</div>
</div>

{{> testinclude }}
