---
title: Typography
heading: Typography
lead: 'Used titles, text and links. Also article layout.'
layout: default.hbs 
---

<div>
    <h1>{{ heading }}</h1>
    <h2>{{ lead }}</h2>
</div>

<div class="row">
    <div class="col-md-12">
        <h1>H1 Dit is een header</h1>
        <h2>H2 Dit is een subheader</h2>
        <h3>H2 Dit is een subheader</h2>
        <h4>H2 Dit is een subheader</h2>
        <h5>H2 Dit is een subheader</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dui justo, varius nec aliquam ac, egestas sit amet risus. Etiam elementum mi eget tempus dictum. Quisque vitae felis risus. Fusce rhoncus, purus a vestibulum rhoncus, velit erat ultrices elit, eu malesuada nisi turpis vitae ipsum. Donec quis odio eget metus elementum rhoncus. Nunc dictum velit urna. Nullam accumsan pharetra pellentesque.</p>
    </div>
</div>
